{% extends 'base.html' %}

{% block content %}
<h1>NEW</h1>
<form action="{% url 'articles:create' %}" method="POST">
  {% csrf_token %}
  {% comment %} {# https://docs.djangoproject.com/en/3.0/topics/forms/#working-with-form-templates #}
   <h3>Version 1</h3>
  {{ form.as_p }}
 <hr> {% endcomment %}
 {% comment %}
  <h3>Version 2</h3>
  <div>
    {{ form.title.errors }}
    {{ form.title.tag }}
    {{ form.title }}
  </div>
  <div>
    {{ form.content.errors }}
    {{ form.content.tag }}
    {{ form.content }}
  </div>
  <hr> {% endcomment %}
  <h3>Version 3</h3>
    
    {% for field in form %}
    {% comment %} 부트스트랩 속성은 form속성은 field속성으로 감싸줘야 반영이 되기 때문에 사용한다. {% endcomment %}
    <div class="form-group">
      {{ field.error }}
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endfor %}
    
 
  <button class="btn btn-primary">작성</button>
</form>
{% endblock %}